@use 'sass:map';
@use '../variables' as *;
@use "border" as *;
@use "breakpoint" as *;
@use "font" as *;
@use "heading" as *;

@mixin body-copy-style( $style: 'primary' ) {

  @if $style == 'primary' {
    @include font-akkurat-mono-ll(400);
  }

  font-style: normal;

  thead, tbody, tfoot, tr, td, th {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
  }

  ol, p, ul, table {
    margin-bottom: 20px;
    & + h1,
    & + h2,
    & + h3,
    & + h4,
    & + h5,
    & + h6 {
      margin-top: 38px;
    }
  }

  ol, ul {
    strong {
      margin: 0;
    }
    ol, ul {
      margin-top: 10px;
    }
  }

  a {
    color: inherit;
    &:focus,
    &:hover {
      color: inherit;
    }
  }

  table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    word-break: break-word;
    strong {
      margin: 0;
    }
    th, td, thead {
      border-width: var(--theme-border--width);
      border-color: currentColor;
      border-style: solid;
      padding: 5px;
    }
  }

  p, li {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    font-style: inherit;
    font-family: inherit;
    a {
      @include border-solid( 2px, 'inherit', 'bottom' );
      transition: border var(--theme-transition--duration);
      color: inherit;
      display: inline-block;
      width: auto;
      text-decoration: none;
      outline: none;
      &:focus,
      &:hover {
        border-bottom-color: transparent;
        text-decoration: none;
        outline: none;
      }
    }
  }

  & > *:last-child {
    margin-bottom: 0;
  }

  @include breakpoint(lg) {

    ol, p, ul, table {
      margin-bottom: 24px;
      & + h1,
      & + h2,
      & + h3,
      & + h4,
      & + h5,
      & + h6 {
        margin-top: 40px;
      }
    }

  }

}

@mixin body-copy-size( $size: '1' ) {
  @each $name, $value in map.get($theme-body-copy-font-sizes, $size) {
    @if $name == 'base' {
      font-size: $value;
    } @else {
      @include breakpoint(#{$name}) {
        font-size: $value;
      }
    }
  }
}
