@use 'sass:color';
@use 'sass:map';
@use '../variables' as *;
@use "border" as *;
@use "breakpoint" as *;
@use "font" as *;
@use "ui" as *;

@mixin button-style( $style: 'primary' ) {

  display: inline-flex;
  justify-content: center;
  align-items: center;

  @each $name, $value in map.get( $theme-button-settings, 'heights' ) {
    @if $name == 'base' {
      height: $value;
    } @else {
      @include breakpoint(#{$name}) {
        height: $value;
      }
    }
  }

  @if $style == 'primary' {
    @include border-solid( var(--theme-border-width) );
    text-transform: uppercase;
    padding: 0 15px;
    @each $name, $value in $theme-colours {
      &.button--#{$name} {

        $background: transparent;
        $background-hover: $value;
        $border-color: $value;
        $border-color-hover: $value;
        $colour: $value;
        $colour-hover: map.get( $theme-colours, 'black' );

        background: $background;
        border-color: $border-color;
        color: $colour;

        &:hover {
          background: $background-hover;
          border-color: $border-color-hover;
          color: $colour-hover;
        }

      }
    }
  }

}
