@use 'sass:map';
@use '../variables' as *;
@use "breakpoint" as *;
@use "font" as *;

@mixin heading-style( $style: 'primary' ) {

  @if $style == 'primary' {
    @include font-sorry-sans(700);
    line-height: 1.1111;
  }

  @if $style == 'secondary' {
    @include font-akkurat-mono-ll(400);
    line-height: 1;
  }

  margin: 0;
  padding: 0;
  text-transform: none;
  display: block;
  font-style: normal;
  color: inherit;

}

@mixin heading-size( $size: '1' ) {
  @each $name, $value in map.get($theme-heading-font-sizes, $size) {
    @if $name == 'base' {
      font-size: $value;
    } @else {
      @include breakpoint(#{$name}) {
        font-size: $value;
      }
    }
  }
}
