//////////////////////////////////////////////////////////
////  Carousel | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Carousel | Styles
//////////////////////////////////////////////////////////

.carousel {

  position: relative;

  &__next,
  &__prev {
    transition: opacity 280ms;
    cursor: pointer;
    height: 9px;
    opacity: 0;
    img, svg {
      display: block;
      height: 100%;
      width: auto;
    }
  }

  &__controls {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    flex-flow: row nowrap;
  }

  &__item,
  &__item > * {
    &:focus {
      outline: none;
    }
  }

  &__prev {
    transform: rotate(180deg);
  }

  &.pricing {

    .carousel__controls {
      position: absolute;
      top: 18px;
      left: 0;
      width: 100%;
      z-index: 10;
    }

    .carousel__next {
      margin-left: auto;
    }

    &.at-start {
      .carousel__next {
        opacity: 1;
      }
    }

    &.at-end {
      .carousel__prev {
        opacity: 1;
      }
    }

  }

  @include media-breakpoint-up(sm) {

    &__next,
    &__prev {
      height: 11px;
    }

    &.pricing {
      .carousel__controls {
        top: 26px;
      }
    }

  } // min width sm

  @include media-breakpoint-up(md) {} // min width md

  @include media-breakpoint-up(lg) {} // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {} // min width xxl

} // .carousel
