//////////////////////////////////////////////////////////
////  Contact Us | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Contact Us | Styles
//////////////////////////////////////////////////////////

.contact-us {

  &__heading,
  &__legal {
    text-transform: uppercase;
  }

  &__content,
  &__heading,
  &__legal {
    @include body-copy();
    text-transform: uppercase;
    a {
      color: inherit;
      &:hover {
        color: inherit;
      }
    }
    p, li {
      font-size: inherit;
      font-weight: inherit;
      line-height: inherit;
    }
  }

  &__heading {
    margin-bottom: 17px;
  }

  &__icon-set {
    width: 100%;
    max-width: 400px;
    display: block;
    margin: auto;
    img, svg {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__legal {
    margin-top: 17px;
    a {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {} // min width md

  @include media-breakpoint-up(lg) {} // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {} // min width xxl

} // .contact-us
