//////////////////////////////////////////////////////////
////  Image Feature | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Image Feature | Styles
//////////////////////////////////////////////////////////

.image-feature {

  &__content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: row wrap;
    padding-top: 30px;
  }

  &__heading {
    &.heading--secondary {
      text-transform: none;
    }
  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {

    &__content {
      flex-flow: row nowrap;
      padding-top: 36px;
      .image-feature {
        &__heading,
        &__message {
          width: 50%;
        }
        &__heading {
          margin: 0 auto 0 0;
        }
        &__message {
          margin: 0 0 0 auto;
        }
      }
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    &__content {
      padding-top: 50px;
      .image-feature {
        &__heading {
          width: 40%;
          margin: 0 auto 0 0;
        }
        &__message {
          width: 60%;
          margin: 0 0 0 auto;
        }
      }
    }

  } // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {} // min width xxl

} // .image-feature
