//////////////////////////////////////////////////////////
////  Media with Text | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Media with Text | Styles
//////////////////////////////////////////////////////////

.media-with-text {

  &__content,
  &__media {
    display: block;
    width: 100%;
  }

  &__content {
    text-align: left;
  }

  &__heading {
    & + .media-with-text__item {
      margin-top: 28px;
    }
  }

  &__item {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-content: center;
    flex-flow: row wrap;
    & + .media-with-text__item {
      margin-top: 85px;
    }
  }

  &__media {
    img, video, svg {
      width: 100%;
      display: block;
      height: auto;
    }
    & + .media-with-text__content{
      margin-top: 25px;
    }
  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {

    &__content,
    &__media {
      width: 50%;
    }

    &__content {
      display: inline-flex;
      align-items: flex-start;
      flex-flow: column;
      justify-content: center;
    }

    &__heading {
      text-align: center;
      & + .media-with-text__item {
        margin-top: 46px;
      }
    }

    &__item {
      flex-flow: row nowrap;
      &[data-layout="media-left"] {
        .media-with-text__content {
          order: 2;
          padding-left: calc( var(--theme-gutter) * 1.5 );
        }
        .media-with-text__media {
          order: 1;
          padding-right: calc( var(--theme-gutter) * 0.5 );
        }
      }
      &[data-layout="media-right"] {
        .media-with-text__content {
          order: 1;
          padding-right: calc( var(--theme-gutter) * 1.5 );
        }
        .media-with-text__media {
          order: 2;
          padding-left: calc( var(--theme-gutter) * 0.5 );
        }
      }
      & + .media-with-text__item {
        margin-top: 95px;
      }
    }

    &__media {
      & + .media-with-text__content{
        margin-top: 0;
      }
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    &__content {
      width: 45%;
    }

    &__media {
      width: 55%;
    }

    &__heading {
      text-align: center;
      & + .media-with-text__item {
        margin-top: 52px;
      }
    }

    &__item {
      flex-flow: row nowrap;
      &[data-layout="media-left"] {
        .media-with-text__content {
          order: 2;
          padding-left: calc( var(--theme-gutter) * 2 );
        }
        .media-with-text__media {
          order: 1;
          padding-right: 0;
        }
      }
      &[data-layout="media-right"] {
        .media-with-text__content {
          order: 1;
          padding-right: calc( var(--theme-gutter) * 2 );
        }
        .media-with-text__media {
          order: 2;
          padding-left: 0;
        }
      }
      & + .media-with-text__item {
        margin-top: 95px;
      }
    }

    & + .media-with-text__item {
      margin-top: 80px;
    }

  } // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {} // min width xxl

} // .media-with-text
