//////////////////////////////////////////////////////////
////  Pricing | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Pricing | Styles
//////////////////////////////////////////////////////////

.pricing {

  &__disclaimer {
    color: #535353;
    margin: 50px auto 0;
    text-align: center;
  }

  &__image {
    width: 100%;
    img, svg {
      display: block;
      width: 100%;
    }
  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {

    &__disclaimer {
      width: 60%;
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    &__disclaimer {
      width: 52%;
    }

  } // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {} // min width xxl

} // .pricing
