//////////////////////////////////////////////////////////
////  Selected Clients | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Selected Clients | Styles
//////////////////////////////////////////////////////////

.selected-clients {

  &__column {
    border-right: 1px solid #fff;
    &:last-child {
      border-right: none;
    }
  }

  &__heading {
    text-align: center;
    &.heading--secondary {
      text-transform: none;
    }
  }

  &__grid {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    .selected-clients__column {
      width: 50%;
      padding-top: var( --theme-gutter );
      padding-bottom: var( --theme-gutter );
      padding-left: var( --theme-gutter );
      &[data-column="left"] {
        padding-left: 0;
      }
      &[data-column="right"] {
        border-right: none;
      }
    }
  }

  &__item {
    @include body-copy( 1, 1.35, normal );
    display: block;
    text-transform: uppercase;
  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {

    &__grid {

      width: 80%;
      margin: 0 auto;

      .selected-clients__column {
        width: 33.3333%;
        &[data-column="left"] {
          padding-left: var( --theme-gutter );
        }
      }
    }

    &__item {
      span {
        display: inline-block;
        width: auto;
      }
    }

  } // min width md

  @include media-breakpoint-up(lg) {} // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {} // min width xxl

} // .selected-clients
