//////////////////////////////////////////////////////////
////  Mixins
//////////////////////////////////////////////////////////

@mixin clearfix {
	clear: both;
	&:after{
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
  }
}

@mixin keyframes ( $animation-name ) {
  @keyframes #{$animation-name} { @content; }
}

@mixin animation ( $str ) {
  animation: #{$str};
}

@mixin placeholder {
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder           { @content; }
  &::-moz-placeholder          { @content; }
  &:-ms-input-placeholder      { @content; }
}

@mixin greysacle( $value ) {
  filter:#{"grayscale(#{$value})"};
}

@mixin brightness( $value ) {
  filter: brightness( $value );
}

@function lighten( $color, $percentage ) {
  @return mix( white, $color, $percentage );
}

@function darken( $color, $percentage ) {
  @return mix( black, $color, $percentage );
}

//////////////////////////////////////////////////////////
////  Mixin | Typography | Body Copy
//////////////////////////////////////////////////////////

@mixin body-copy( $font-size-modifier: 1, $line-height: 1.2, $font-weight: normal ) {

  font-size: $font-size-modifier * $theme-body-copy;
  font-weight: $font-weight;
  line-height: $line-height;

  @include media-breakpoint-up(sm) {
    font-size: $font-size-modifier * $theme-body-copy--sm;
  } // min width sm

  @include media-breakpoint-up(md) {
    font-size: $font-size-modifier * $theme-body-copy--md;
  } // min width md

  @include media-breakpoint-up(lg) {
    font-size: $font-size-modifier * $theme-body-copy--lg;
  } // min width lg

  @include media-breakpoint-up(xl) {
    font-size: $font-size-modifier * $theme-body-copy--xl;
  } // min width xl

  @include media-breakpoint-up(xxl) {
    font-size: $font-size-modifier * $theme-body-copy--xxl;
  } // min width xxl

}
