//////////////////////////////////////////////////////////
////  SCSS | Vars
//////////////////////////////////////////////////////////

// ---------------------------------------- Bootstrap | Gutter
$grid-gutter-width: 24px;

// ---------------------------------------- Bootstrap | Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

// ---------------------------------------- Bootstrap | Container Sizes
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1340px
);

// ---------------------------------------- Header
$theme-header-heights: (
  'base': 90px,
  'sm': 90px,
  'md': 90px,
  'lg': 90px,
  'xl': 90px,
  'xxl': 90px
);

$theme-header-height: map-get( $theme-header-heights, 'base' );
$theme-header-height--sm: map-get( $theme-header-heights, 'sm' );
$theme-header-height--md: map-get( $theme-header-heights, 'md' );
$theme-header-height--lg: map-get( $theme-header-heights, 'md' );
$theme-header-height--xl: map-get( $theme-header-heights, 'xl' );
$theme-header-height--xxl: map-get( $theme-header-heights, 'xxl' );

// ---------------------------------------- Colours
$theme-colours: (
  'black': #101010,
  'white': #ffffff,
  'yellow': #FFC700,
);

$theme-black: map-get( $theme-colours, 'black' );
$theme-white: map-get( $theme-colours, 'white' );
$theme-yellow: map-get( $theme-colours, 'yellow' );

// ---------------------------------------- Typography
$theme-sans-serif--akkurat-mono: 'Akkurat Mono', sans-serif;
$theme-sans-serif--sorry-sans: 'Sorry Sans', sans-serif;
$theme-sans-serif: sans-serif;
$theme-serif: serif;
$theme-display: serif;

$theme-body-copy-sizes: (
  'base': 12px,
  'sm': 12px,
  'md': 10px,
  'lg': 12px,
  'xl': 12px,
  'xxl': 14px
);

$theme-body-copy: map-get( $theme-body-copy-sizes, 'base' );
$theme-body-copy--sm: map-get( $theme-body-copy-sizes, 'sm' );
$theme-body-copy--md: map-get( $theme-body-copy-sizes, 'md' );
$theme-body-copy--lg: map-get( $theme-body-copy-sizes, 'lg' );
$theme-body-copy--xl: map-get( $theme-body-copy-sizes, 'xl' );
$theme-body-copy--xxl: map-get( $theme-body-copy-sizes, 'xxl' );

//////////////////////////////////////////////////////////
////  CSS | Vars
//////////////////////////////////////////////////////////

:root {

  // ---------------------------------------- General
  --theme-gutter: #{$grid-gutter-width};

  // ---------------------------------------- Breakpoints
  --theme-breakpoint--sm: #{ map-get( $grid-breakpoints, 'sm' ) };
  --theme-breakpoint--md: #{ map-get( $grid-breakpoints, 'md' ) };
  --theme-breakpoint--lg: #{ map-get( $grid-breakpoints, 'lg' ) };
  --theme-breakpoint--xl: #{ map-get( $grid-breakpoints, 'xl' ) };
  --theme-breakpoint--xxl: #{ map-get( $grid-breakpoints, 'xxl' ) };

  // ---------------------------------------- Colours
  --theme-black: #{$theme-black};
  --theme-white: #{$theme-white};
  --theme-yellow: #{$theme-yellow};

  // ---------------------------------------- Container
  --theme-container-width--sm: #{ map-get( $container-max-widths, 'sm' ) };
  --theme-container-width--md: #{ map-get( $container-max-widths, 'md' ) };
  --theme-container-width--lg: #{ map-get( $container-max-widths, 'lg' ) };
  --theme-container-width--xl: #{ map-get( $container-max-widths, 'xl' ) };
  --theme-container-width--xxl: #{ map-get( $container-max-widths, 'xxl' ) };

  // ---------------------------------------- Header
  --theme-header-height: #{$theme-header-height};
  --theme-header-height--sm: #{$theme-header-height--sm};
  --theme-header-height--md: #{$theme-header-height--md};
  --theme-header-height--lg: #{$theme-header-height--lg};
  --theme-header-height--xl: #{$theme-header-height--xl};
  --theme-header-height--xxl: #{$theme-header-height--xxl};

  // ---------------------------------------- Typography
  --theme-sans-serif--akkurat-mono: #{$theme-sans-serif--akkurat-mono};
  --theme-sans-serif--sorry-sans: #{$theme-sans-serif--sorry-sans};
  --theme-sans-serif: #{$theme-sans-serif};
  --theme-serif: #{$theme-serif};
  --theme-display: #{$theme-display};

  --theme-body-copy: #{$theme-body-copy};
  --theme-body-copy--sm: #{$theme-body-copy--sm};
  --theme-body-copy--md: #{$theme-body-copy--md};
  --theme-body-copy--lg: #{$theme-body-copy--lg};
  --theme-body-copy--xl: #{$theme-body-copy--xl};
  --theme-body-copy--xxl: #{$theme-body-copy--xxl};

}
