@use '../utils/mixins/body-copy' as *;

.body-copy {

  &--primary {
    @include body-copy-style('primary');
  }

  &--1,
  &--lg {
    @include body-copy-size('1');
  }

  &--2,
  &--md {
    @include body-copy-size('2');
  }

  &--3,
  &--sm {
    @include body-copy-size('3');
  }

  &--4,
  &--xs {
    @include body-copy-size('4');
  }

}
