@use 'sass:math';
@use "../utils/mixins/breakpoint" as *;
@use "../utils/mixins/button" as *;
@use "../utils/mixins/ui" as *;

.button {

  @extend %ui-base;
  @extend %ui-transition;

  &--burger,
  &--primary,
  &--secondary,
  &--glide-nav {
    @extend .button;
  }

  &--burger {

    height: 26px;
    width: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &:after,
    &:before {
      transition: transform var(--theme-transition--duration);
      width: 100%;
      background: currentcolor;
      height: 3px;
      content: '';
      display: block;
      position: absolute;
    }

    &:after {
      transform: translate3d( 0, 7px, 0);
    }
    &:before {
      transform: translate3d( 0, -7px, 0);
    }

    .drawer--active & {
      &:after,
      &:before {
        width: math.hypot(22px, 22px);
        transform: translate3d( 0, 0, 0);
      }
      &:after {
        transform: rotate(45deg);
      }
      &:before {
        transform: rotate(-45deg);
      }
    }

  }

  &--primary {
    @include button-style('primary');
  }

  &[disabled],
  &.disabled {
    @extend %ui-disabled;
  }

}
