@use '../utils/mixins/breakpoint' as *;

.grid {

  display: grid;
  width: 100%;
  grid-template-columns: 1fr;

  &__item {
    width: 100%;
  }

  &--one-column,
  &--two-column,
  &--three-column {
    @extend .grid;
  }

  @include breakpoint(md) {

    &--two-column {
      grid-template-columns: 1fr 1fr;
    }

    &--three-column {
      grid-template-columns: 1fr 1fr 1fr;
    }

  }

}
