@use '../utils/mixins/heading' as *;

.heading {

  &--primary {
    @include heading-style('primary');
  }

  &--secondary {
    @include heading-style('secondary');
  }

  &--1,
  &--lg {
    @include heading-size('1');
  }

  &--2,
  &--md {
    @include heading-size('2');
  }

  &--3,
  &--sm {
    @include heading-size('3');
  }

}
