.image {

  width: 100%;
  height: auto;
  display: block;

  img, svg {
    display: block;
    width: 100%;
    height: auto;
  }

  &.with-aspect-ratio {
    img, svg {
      height: 100%;
      object-fit: cover;
    }
  }

}
