@use '../utils/mixins/label' as *;

.label {

  display: inline-flex;
  width: 100%;

  &--1,
  &--2 {
    @extend .label;
  }

  &--1 {
    @include label-style(1);
  }

  &--2 {
    @include label-style(2);
  }

}
