@use "../utils/mixins/general" as *;

.pagination {

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;

  .active {}

  .disabled {}

  .link {
    &:focus,
    &:hover {}
  }

  @include breakpoint(sm) {}

  @include breakpoint(md) {}

  @include breakpoint(lg) {}

}
