//////////////////////////////////////////////////////////
////  Section | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Section | Styles
//////////////////////////////////////////////////////////

.section {

  & + .section {
    margin-top: calc( var(--theme-header-height) * .33 );
  }

  &--hero {
    & + .section {
      //margin-top: 60px;
    }
  }

  &:not(.hero),
  &:not(.selected-clients) {
    padding-top: var(--theme-header-height);
  }

  @include media-breakpoint-up(sm) {

    &:not(.hero),
    &:not(.selected-clients) {
      padding-top: var(--theme-header-height--sm);
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    & + .section {
      margin-top: calc( var(--theme-header-height--md) * .33 );
    }

    &--hero {
      & + .section {
        //margin-top: 80px;
      }
    }

    &:not(.hero),
    &:not(.selected-clients) {
      padding-top: var(--theme-header-height--md);
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    & + .section {
      margin-top: calc( var(--theme-header-height--lg) * .33 );
    }

    &--hero {
      & + .section {
        //margin-top: 100px;
      }
    }

    &:not(.hero),
    &:not(.selected-clients) {
      padding-top: var(--theme-header-height--lg);
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    &:not(.hero),
    &:not(.selected-clients) {
      padding-top: var(--theme-header-height--xl);
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    &:not(.hero),
    &:not(.selected-clients) {
      padding-top: var(--theme-header-height--xxl);
    }

  } // min width xxl

} // .section
