@use '../utils/mixins/breakpoint' as *;

.error-404 {

  &__heading {
    font-size: 44px;
    & + .error-404__message {
      margin-top: 20px;
    }
  }

  &__main {
    height: 100vh;
    height: calc( 100vh - var(--theme-header-height--total) );
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  @include breakpoint(md) {
    &__heading {
      font-size: 55px;
    }
  }

  @include breakpoint(lg) {
    &__heading {
      font-size: 68px;
    }
  }

  @include breakpoint(xl) {
    &__heading {
      font-size: 88px;
    }
  }

  @include breakpoint(xxl) {
    &__heading {
      font-size: 100px;
    }
  }

}
