@use '../utils/mixins/breakpoint' as *;
@use '../utils/mixins/font' as *;

html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {

  @include font-akkurat-mono-ll(400);
  background: var(--theme-colour--black);
  color: var(--theme-colour--white);
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  font-weight: 400;

  main {
    padding-top: var(--theme-header-height--total);
    flex: 1 0 auto;
    section {
      overflow: hidden;
      position: relative;
    }
  }

  footer {
    flex-shrink: 0;
  }

}
