@use '../utils/mixins/breakpoint' as *;

.container {

  padding-left: var(--theme-layout--container-padding);
  padding-right: var(--theme-layout--container-padding);

  &-fluid {
    padding-left: var(--theme-layout--container-padding);
    padding-right: var(--theme-layout--container-padding);
  }

  @include breakpoint(sm) {

    padding-left: calc( 0.5 * var(--bs-gutter-x) );
    padding-right: calc( 0.5 * var(--bs-gutter-x) );

  }

}
