@use 'sass:map';
@use '../utils/variables' as *;
@use '../utils/mixins/border' as *;
@use '../utils/mixins/breakpoint' as *;
@use '../utils/mixins/font' as *;

.drawer {

  @each $name, $value in map.get( $theme-drawer-settings, 'widths' ) {
    @if $name == 'base' {
      width: $value;
    } @else {
      @include breakpoint(#{$name}) {
        width: $value;
      }
    }
  }

  background: var(--theme-colour--black);
  color: var(--theme-colour--white);
  transition: transform var(--theme-transition--duration);
  height: 100vh;
  min-height: 100vh;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  overflow: hidden;
  transform: translate3d( 0, -100%, 0 );

  &__address,
  &__email,
  &__phone {
    line-height: 1.4;
  }

  &__footer {
    padding: var(--theme-layout--gutter) 0;
    flex-shrink: 0;
    display: flex;
    width: 100%;
    &-content {
      display: flex;
      width: 100%;
      height: auto;
      gap: 18px;
      flex-flow: column;
      font-size: 10px;
      .link {
        @include border-solid( 1px, 'inherit', 'bottom' );
        &:hover {
          border-color: transparent;
        }
      }
      & > * {
        &:not(.drawer__legal) {
          opacity: 0.3333;
        }
      }
    }
  }

  &__main {
    padding-top: calc(var(--theme-header-height--total) + 30px);
    flex: 1 1 auto;
    padding-bottom: 0;
    overflow-y: auto;
  }

  &__navigation {
    flex-flow: row wrap;
    width: 100%;
    gap: 30px;
    &-item {
      font-weight: 700;
      font-size: 18px;
      text-transform: uppercase;
      width: 100%;
    }
    &-link {
      display: inline-flex;
      width: auto;
      gap: 12px;
      &:not(.button--primary) {
        &:before {
          content: '+';
          display: block;
          margin-top: -1px;
        }
        &:hover {
          color: var(--theme-colour--yellow);
        }
      }
      &.button--primary {
        height: 42px;
      }
    }
  }

  .drawer--active & {
    transform: translate3d( 0, 0, 0 );
  }

  @include breakpoint(lg) {

    .drawer--active & {
      transform: translate3d( 0, -100%, 0 );
    }

  }

}
