@use "../utils/mixins/border" as *;
@use "../utils/mixins/breakpoint" as *;

.footer {

  &__address,
  &__email,
  &__phone {
    margin-top: 20px;
    line-height: 1.4;
  }

  &__heading {
    margin-bottom: 30px;
  }

  &__icon-set {
    width: 100%;
    max-width: 400px;
    display: block;
    margin: 36px auto;
    svg {
      fill: currentColor;
    }
  }

  &__main {
    &-content {
      padding: 40px 0;
      .link {
        &:not(.footer__social-link) {
          @include border-solid( 1px, 'inherit', 'bottom' );
          &:hover {
            border-color: transparent;
          }
        }
        line-height: 1;
      }
    }
  }

  &__social {

    gap: 22px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 58px;

    &-item {
      height: 22px;
      width: 22px;
    }

    &-link {
      height: 100%;
      width: 100%;
      svg {
        fill: currentColor;
      }
      &:hover {
        color: var(--theme-colour--yellow);
      }
    }

  }

  @include breakpoint(md) {

    &__heading {
      margin-bottom: 40px;
    }

    &__icon-set {
      margin: 44px auto;
    }

    &__main {
      &-content {
        padding: 42px 0;
      }
    }

  }

  @include breakpoint(lg) {

    &__heading {
      margin-bottom: 50px;
    }

    &__icon-set {
      margin: 66px auto;
    }

    &__main {
      &-content {
        padding: 90px 0 72px;
      }
    }

  }

}
