@use '../utils/mixins/border' as *;
@use '../utils/mixins/breakpoint' as *;

.header {

  width: 100%;
  top: 0;
  left: 0;

  &:after {
    transition: opacity var(--theme-transition--duration);
    background: var(--theme-colour--black);
    position: absolute;
    content: '';
    display: block;
    opacity: 0.85;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &__icon-camera,
  &__logo {
    display: block;
    height: 100%;
    width: auto;
    img, svg {
      display: block;
      width: auto;
      height: 100%;
    }
  }

  &__brand {
    height: 42px;
    &-link {
      gap: 20px;
      height: 100%;
      width: auto;
      display: inline-flex;
      justify-content: flex-start;
      align-items: center;
      &:hover {
        color: var(--theme-colour--yellow);
      }
    }
  }

  &__button {
    margin-left: auto;
  }

  &__icon-camera {
    height: 100%;
    width: auto;
  }

  &__logo {
    height: 100%;
    width: auto;
  }

  &__main {
    height: 90px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .scroll-position--scrolled & {
    &:after {
      opacity: 0.5;
    }
  }

  @include breakpoint(lg) {

    &__navigation {
      gap: var(--theme-layout--gutter);
      margin-left: auto;
      &-item {
        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase;
      }
      &-link {
        &:not(.button--primary) {
          @include border-solid( 1px, 'transparent', 'bottom' );
        }
        &:hover {
          color: inherit;
          border-color: currentcolor;
        }
      }
    }

  }

  @include breakpoint(xl) {

    &__navigation {
      gap: 32px;
      &-item {
        font-size: 13px;
      }
    }

  }

  @include breakpoint(xxl) {

    &__navigation {
      gap: 36px;
      &-item {
        font-size: 14px;
      }
    }

  }

}
