@use '../utils/mixins/breakpoint' as *;

.client-listing {

  &__column {
    padding: var(--theme-layout--gutter);
    background: var(--theme-colour--black);
    text-align: left;
    line-height: 1.35;
    text-transform: uppercase;
    &:first-child {
      padding-left: 0;
    }
  }

  &__grid {
    background: var(--theme-colour--white);
    grid-template-columns: repeat(2, 1fr);
    gap: var(--theme-border--width);
  }

  &__heading {
    margin-bottom: 30px;
  }

  &__main {
    position: relative;
  }

  @include breakpoint(md) {

    &__column {
      &:first-child {
        padding-left: var(--theme-layout--gutter);
      }
    }

    &__grid {
      width: 80%;
      margin: 0 auto;
      grid-template-columns: repeat(3, 1fr);
    }

    &__heading {
      margin-bottom: 26px;
    }

  }

  @include breakpoint(lg) {

    &__heading {
      margin-bottom: 30px;
    }

  }

}
