@use '../utils/mixins/breakpoint' as *;

.featured-text {

  &__heading {
    & + .featured-text__message {
      margin-top: 30px;
    }
  }

  &__main {
    position: relative;
  }

  @include breakpoint(md) {

    .grid--heading-left {
      gap: var(--theme-layout--gutter);
      grid-template-columns: 40% 60%;
    }

    &__heading {
      .grid--heading-left & {
        order: 1;
        & + .featured-text__message {
          margin-top: 0;
        }
      }
      & + .featured-text__message {
        margin-top: 26px;
      }
    }

    &__message {
      .grid--heading-left & {
        order: 2;
      }
    }

  }

  @include breakpoint(lg) {

    &__heading {
      & + .featured-text__message {
        margin-top: 30px;
      }
    }

  }

}
