@use '../utils/mixins/breakpoint' as *;

.fifty-fifty {

  .grid {
    gap: 30px;
  }

  &__heading {
    & + .fifty-fifty__message {
      margin-top: 30px;
    }
  }

  &__image {
    &-extra {
      width: 100%;
      max-width: 200px;
      margin-top: 20px;
      img, svg {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }

  &__main {
    position: relative;
  }

  @include breakpoint(md) {

    &__heading {
      & + .fifty-fifty__message {
        margin-top: 26px;
      }
    }

    &__item {
      .image-left & {
        &.grid__item--content {
          padding-left: calc(var(--theme-layout--gutter)*1.5);
          order: 2;
        }
        &.grid__item--image {
          order: 1;
        }
      }
      .image-right & {
        &.grid__item--content {
          padding-right: calc(var(--theme-layout--gutter)*1.5);
          order: 1;
        }
        &.grid__item--image {
          order: 2;
        }
      }
      &.grid__item--content {
        display: flex;
        height: 100%;
        flex-flow: column;
        justify-content: center;
      }
    }

  }

  @include breakpoint(lg) {

    &__heading {
      & + .fifty-fifty__message {
        margin-top: 30px;
      }
    }

    &__item {
      .image-left & {
        &.grid__item--content {
          padding-left: calc(var(--theme-layout--gutter)*2);
        }
      }
      .image-right & {
        &.grid__item--content {
          padding-right: calc(var(--theme-layout--gutter)*2);
        }
      }
    }

  }

  @include breakpoint(xl) {

    &__image {
      &-extra {
        max-width: 220px;
      }
    }

  }

}
