@use '../utils/mixins/breakpoint' as *;

.pricing {

  .glide {
    &__button {
      position: absolute;
      height: 9px;
      width: auto;
      z-index: 50;
      img, svg {
        display: block;
        height: 100%;
        width: auto;
      }
      &.prev,
      &.next {
        top: 18px;
      }
      &.prev {
        left: 0;
        transform: rotate(180deg);
      }
      &.next {
        right: 0;
      }
      &.disabled {
        opacity: 0;
      }
      &:hover {
        opacity: 0.5;
      }
    }
  }

  &__chart,
  &__item {
    width: 100%;
    height: auto;
    img, svg {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__disclaimer {
    color: #535353;
    margin: 50px auto 0;
  }

  &__main {
    position: relative;
  }

  @include breakpoint(sm) {

    .glide {
      &__button {
        height: 11px;
        &.prev,
        &.next {
          top: 26px;
        }
      }
    }

  }

  @include breakpoint(md) {
    &__disclaimer {
      width: 60%;
    }
  }

  @include breakpoint(lg) {
    &__disclaimer {
      width: 52%;
    }
  }

}
