html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
}

body {

  background: var(--theme-black);
  color: var(--theme-white);
  position: relative;
  overflow-y: scroll;

  a {
    color: inherit;
  }

  [role="main"] {
    padding-top: var(--theme-header-height);
    .section {
      &--hero {
        padding-top: calc( var(--theme-header-height) * .33 );
      }
    }
  }

  &.sticky-footer {
    display: flex;
    flex-direction: column;
    main {
      flex: 1 0 auto;
    }
    footer {
      flex-shrink: 0;
    }
  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {

    [role="main"] {
      .section {
        &--hero {
          padding-top: calc( var(--theme-header-height--md) * .33 );
        }
      }
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    [role="main"] {
      .section {
        &--hero {
          padding-top: calc( var(--theme-header-height--lg) * .33 );
        }
      }
    }

  } // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {} // min width xxl

} // body
