//////////////////////////////////////////////////////////
////  Fonts | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Fonts | Styles
//////////////////////////////////////////////////////////

// ---------------------------------------- Akkurat | Bold

@font-face {
    font-family: 'Akkurat Mono';
    src: url('<?php echo $assets_dir; ?>/fonts/AkkuratMonoLLTT-Bold.eot');
    src: local('AkkuratMonoLLTT-Bold'),
        url('<?php echo $assets_dir; ?>/fonts/AkkuratMonoLLTT-Bold.eot?#iefix') format('embedded-opentype'),
        url('<?php echo $assets_dir; ?>/fonts/AkkuratMonoLLTT-Bold.woff2') format('woff2'),
        url('<?php echo $assets_dir; ?>/fonts/AkkuratMonoLLTT-Bold.woff') format('woff'),
        url('<?php echo $assets_dir; ?>/fonts/AkkuratMonoLLTT-Bold.ttf') format('truetype'),
        url('<?php echo $assets_dir; ?>/fonts/AkkuratMonoLLTT-Bold.svg#AkkuratMonoLLTT-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

// ---------------------------------------- Akkurat | Regular

@font-face {
    font-family: 'Akkurat Mono';
    src: url('<?php echo $assets_dir; ?>/fonts/AkkuratMonoLLWeb-Regular.eot');
    src: local('Akkurat Mono Regular'),
        url('<?php echo $assets_dir; ?>/fonts/AkkuratMonoLLWeb-Regular.eot?#iefix') format('embedded-opentype'),
        url('<?php echo $assets_dir; ?>/fonts/AkkuratMonoLLWeb-Regular.woff2') format('woff2'),
        url('<?php echo $assets_dir; ?>/fonts/AkkuratMonoLLWeb-Regular.woff') format('woff'),
        url('<?php echo $assets_dir; ?>/fonts/AkkuratMonoLLWeb-Regular.ttf') format('truetype'),
        url('<?php echo $assets_dir; ?>/fonts/AkkuratMonoLLWeb-Regular.svg#AkkuratMonoLLWeb-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// ---------------------------------------- Sorry Sans | Bold Extended

@font-face {
    font-family: 'Sorry Sans';
    src: url('<?php echo $assets_dir; ?>/fonts/SorrySans-BoldExtended.eot');
    src: url('<?php echo $assets_dir; ?>/fonts/SorrySans-BoldExtended.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
