//////////////////////////////////////////////////////////
////  Footer | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Footer | Styles
//////////////////////////////////////////////////////////

.footer {

  svg {
    display: block;
    height: 100%;
    width: auto;
    fill: currentColor;
  }

  .contact-us {
    text-align: center;
    &__icon-set {
      margin-top: 36px;
      margin-bottom: 36px;
    }
  }

  &__main {
    padding: 40px 0;
  }

  &__social {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 58px;
    a {
      color: var(--theme-white);
      &:hover {
        color: var(--theme-yellow);
      }
    }
    &-item {
      height: 18px;
      & + .footer__social-item {
        margin-left: 20px;
      }
    }
  }

  @include media-breakpoint-up(sm) {

    &__social {
      width: auto;
      &-item {
        height: 20px;
        & + .footer__social-item {
          margin-left: 22px;
        }
      }
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    .contact-us {
      &__icon-set {
        margin-top: 44px;
        margin-bottom: 44px;
      }
    }

    &__main {
      padding: 42px 0;
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    .contact-us {
      &__icon-set {
        margin-top: 66px;
        margin-bottom: 66px;
      }
    }

    &__main {
      padding: 90px 0 72px;
    }

  } // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {} // min width xxl

} // footer
