//////////////////////////////////////////////////////////
////  Header | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Header | Styles
//////////////////////////////////////////////////////////

.header {

  background: rgba( $theme-black, 0.84 );
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;

  .navigation {
    margin-left: auto;

    &__item {
      font-family: var( --theme-sans-serif--akkurat-mono );
      font-weight: 700;
      font-size: 12px;
      display: block;
      text-transform: uppercase;
      span {
        display: none;
      }
      &:not(.outline) {
        a:hover {
          text-decoration: underline;
        }
      }
      & + .navigation__item {
        margin-left: 28px;
      }
    }
    &__list {
      justify-content: flex-end;
      align-items: center;
    }
  }

  &__icon {
    &-burger,
    &-camera {
      width: auto;
      a, img, svg {
        height: 100%;
        width: auto;
        display: block;
      }
    }
    &-burger {
      height: 26px;
      margin-left: auto;
      cursor: pointer;
      position: relative;
      .burger,
      .close {
        transition: opacity 280ms;
        display: block;
        height: 100%;
        width: auto;
      }
      .close {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
      }
      &.active {
        .burger {
          opacity: 0;
        }
        .close {
          opacity: 1;
        }
      }
    }
    &-camera {
      height: 42px;
      & + .header__logo {
        margin-left: 25px;
      }
    }
  }

  &__logo {
    height: 37px;
  }

  &__main {
    height: var(--theme-header-height);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row nowrap;
  }

  @include media-breakpoint-up(sm) {

    &__main {
      height: var(--theme-header-height--sm);
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    &__main {
      height: var(--theme-header-height--md);
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    &__main {
      height: var(--theme-header-height--lg);
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    &__main {
      height: var(--theme-header-height--xl);
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    &__main {
      height: var(--theme-header-height--xxl);
    }

  } // min width xxl

} // header
