//////////////////////////////////////////////////////////
////  Hero | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Hero | Styles
//////////////////////////////////////////////////////////

.hero {

  &__branding {
    &--approved {
      max-width: 200px;
    }
    img, svg {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &__content {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: row wrap;
  }

  &__heading {
    & + .hero__message {
      margin-top: 32px;
    }
  }

  &__image {
    width: 100%;
    height: auto;
    img, svg {
      display: block;
      width: 100%;
      height: auto;
    }
    & + .hero__branding {
      margin-top: 20px;
    }
  }

  &__media {
    width: 100%;
    position: relative;
    & + .hero__text {
      margin-top: 40px;
    }
  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {

    &__media,
    &__text {
      width: 50%;
    }

    &__branding {
      &--approved {
        max-width: 192px;
        position: absolute;
      }
    }

    &__content {
      flex-flow: row nowrap;
      align-items: center;

    }

    &__media {
      padding-left: calc( var(--theme-gutter) * 0.5 );
      order: 2;
      & + .hero__text {
        margin-top: 0px;
      }
    }

    &__text {
      order: 1;
      padding-right: calc( var(--theme-gutter) * 0.5 );
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    &__branding {
      &--approved {
        max-width: 200px;
      }
    }

    &__media {
      padding-left: 0;
    }

    &__text {
      padding-right: calc( var(--theme-gutter) * 3 );
    }

  } // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {} // min width xxl

} // .hero
