//////////////////////////////////////////////////////////
////  Mobile Menu | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Mobile Menu | Styles
//////////////////////////////////////////////////////////

.mobile-menu {

  transition: transform 280ms 50ms;
  background: $theme-black;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 25;
  padding-top: var(--theme-header-height);
  transform: translate3d( 0, -100%, 0 );
  height: 100%;
  display: flex;
  flex-flow: column;

  .contact-us {
    &__heading,
    &__content {
      color: #535353;
    }
    &__icon-set {
      display: none;
    }
  }

  .navigation {
    &__item {
      width: 100%;
      font-size: 20px;
      line-height: 120%;
      & + .navigation__item {
        margin-top: 30px;
      }
    }
    &__list {
      flex-flow: row wrap;
    }
  }

  &__footer,
  &__main {
    padding-top: var(--theme-gutter);
    padding-bottom: var(--theme-gutter);
  }

  &__footer {
    flex-shrink: 0;
    p {
      margin: 0;
    }
  }

  &__main {
    flex: 1 0 auto;
  }

  &.active {
    transform: translate3d( 0, 0, 0 );
  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {} // min width md

  @include media-breakpoint-up(lg) {

    &.active {
      transform: translate3d( 0, -100%, 0 );
    }

  } // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {} // min width xxl

} // .mobile-menu
