//////////////////////////////////////////////////////////
////  Navigation | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Navigation | Styles
//////////////////////////////////////////////////////////

.navigation {

  a {
    transition: color 280ms, background 280ms, opacity 280ms;
    display: inline-block;
    width: auto;
    color: inherit;
    text-decoration: none;
  }

  &__item,
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    font-family: var(--theme-sans-serif--akkurat-mono);
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    span {
      display: inline-block;
      margin-right: 14px;
    }
    &.outline {
      a {
        border: 1px solid #FFC700;
        color: #FFC700;
        padding: 10px 15px;
        &:hover {
          background: #FFC700;
          color: var( --theme-black );
        }
      }
    }
  }

  &__list {
    display: flex;
  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {} // min width md

  @include media-breakpoint-up(lg) {

    &__item {
      &.outline {
        a {
          padding: 8px 12px;
        }
      }
    }

  } // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {} // min width xxl

}
