//////////////////////////////////////////////////////////
////  Placeholder | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Placeholder | Styles
//////////////////////////////////////////////////////////

.placeholder {

  &__grid {

    [class^="col"] {
      span {
        display: flex;
        height: 50px;
        width: 100%;
        justify-content: center;
        align-items: center;
        background: rgba( black, 0.33 );
        color: #fff;
      }
    }

    .row--inner {
      & + .row--inner {
        margin-top: 20px;
      }
    }

  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {} // min width md

  @include media-breakpoint-up(lg) {} // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {} // min width xxl

} // .placeholder
