//////////////////////////////////////////////////////////
////  Typography | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Typography | Styles
//////////////////////////////////////////////////////////

body {
  @include body-copy( 1, 1.25, 300 );
  font-family: var(--theme-sans-serif--akkurat-mono);
  color: var(--theme-white);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

.heading {

  font-family: var(--theme-sans-serif--sorry-sans);
  font-style: normal;

  &--page-title {
    text-transform: uppercase;
    line-height: 1.1111;
    font-size: 36px;
  }

  &--primary {
    font-weight: bold;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    margin: 0 0 30px 0;
  }

  &--secondary {
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 120%;
    margin: 0 0 30px 0;
  }

}

.message,
.rte {

  @include body-copy();

  p, li {
    font-size: inherit;
    line-break: inherit;
    font-weight: inherit;
  }

  table, p, ul, ol {
    margin: 0px 0px 17px 0px;
  }

  ul li {
    list-style: disc;
    padding-left: 10px;
  }

  ol, ul {
    padding-left: 22px;
  }

  ol li {
    list-style: decimal;
    padding-left: 8px;
  }

  & > *:last-child {
    margin-bottom: 0;
  }

  a {
    color: inherit;
  }

}

@include media-breakpoint-up( sm ) {} // min width sm

@include media-breakpoint-up( md ) {

  .heading {
    &--page-title {
      font-size: 32px;
    }
    &--primary {
      font-size: 30px;
      margin: 0 0 40px 0;
    }
    &--secondary {
      font-size: 22px;
      margin: 0 0 26px 0;
    }
  }

} // min width md

@include media-breakpoint-up( lg ) {

  .heading {
    &--page-title {
      font-size: 36px;
    }
    &--primary {
      font-size: 36px;
      margin: 0 0 50px 0;
    }
    &--secondary {
      font-size: 24px;
      margin: 0 0 30px 0;
    }
  }

} // min width lg

@include media-breakpoint-up( xl ) {

  .heading {
    &--page-title {
      font-size: 42px;
    }
    &--primary {
      font-size: 42px;
    }
    &--secondary {
      font-size: 26px;
    }
  }

} // min width xl

@include media-breakpoint-up( xxl ) {

  .heading {
    &--page-title {
      font-size: 48px;
    }
    &--primary {
      font-size: 48px;
    }
    &--secondary {
      font-size: 30px;
    }
  }

} // min width xxl
